<%= form_with(url: offerings_path) do %>
  <% if offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
        <% offering.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :title %>
    <%= text_field_tag "offering[title]", @offering.title %>
  </div>

  <div class="field">
    <%= label_tag :description %>
    <%= text_field_tag "offering[description]", @offering.description, row: 3 %>
  </div>

  <div class="field">
    <%= label_tag :image %>
    <%= text_field_tag "offering[image]", @offering.image %>
  </div>

  <div class="field">
    <%= label_tag :min_age %>
    <%= text_field_tag "offering[min_age]", @offering.min_age %>
  </div>

  <div class="field">
    <%= label_tag :max_age %>
    <%= text_field_tag "offering[max_age]", @offering.max_age %>
  </div>

  <div class="field">
    <%= label_tag :address %>
    <%= text_field_tag "offering[address]", @offering.address %>
  </div>

  <div class="field">
    <%= label_tag :price %>
    <%= text_field_tag "offering[price]", @offering.price %>
  </div>


    # <div class="field">
    #   <select name="tag">
    #   <% Tag.all.each do |tag|%> 
    #   <option value= <%=tag.id%>>
    #   <%=tag.name%>
    #   </option>
    #   <%end%>
    #   </select>
    #   </div>


  <div class="actions">
    <%= button_tag "Create offering" %>
  </div>
<% end %>


    <%#= form.label :tag %>
    <%#= form.text_field :tag%>
