

<h1>
<%= @offering.title %> 
</h1>

<h4>
<%= @offering.description %>
</h4>

<p>
 <%= image_tag @offering.image %> 
</p>

<p>
  <strong>Child's min age:</strong>
  <%= @offering.min_age %>
</p>

<p>
  <strong>Child's max age:</strong>
  <%= @offering.max_age %>
</p>

<p>
  <strong>Address for pick up:</strong>
  <%= @offering.address %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @offering.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offering.status %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @offering.seller.first_name %> <%= @offering.seller.last_name %>


<p>
<%= link_to "Chat with seller", root_path %>
</p>

  <small>This offering has been saved <%= @offering.saves_count %> times so far</small>
</p>

<hr>
<h6 class= "title"> 
Public comments:
</h6>

 <div class="row row-cols-1 row-cols-md-1">
 <div class="col mb-4">

<% @offering.comments.each do |comment| %>
   
   <%= render "comments/comment", comment: comment %>

    <% end %>

<%= render "comments/form", comment: @offering.comments.build %>


</div>
</div>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
