
<h1>
Hello <%= current_user.first_name %> <%= current_user.last_name %>
</h1>

<h2>
Own offerings
</h2>

<% current_user.own_offerings.each do |offering| %>
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">

<div class="card">
 <%= image_tag offering.image, class: "card-img-top", alt: "..." %> 

  <div class="card-body">
    <h4 class="card-title"><%= offering.title %></h4>
    <p class="card-text"> Description: <%= offering.description %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Min age: <%= offering.min_age %> | Max age: <%= offering.max_age %></li>
    <li class="list-group-item">Price: $<%= offering.price %></li>
    <li class="list-group-item">Status: <%= offering.status %></li>
  </ul>
    <ul class="list-group list-group-flush"> 
    <h6 class= "title"> Public comments:
    </h6>
    <% offering.comments.each do |comment| %>
    <li class="list-group-item">
      <div class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0"> <%= comment.commenter.first_name %></h5>
          <p> <%= comment.body %> </p>
        </div>
      </div>

    
    </li>
    <% end %>
  </ul>

  <div class="card-body">
<%= render "comments/form", comment: offering.comments.build %>


  <div class="card-body">
    <a href="#" class="card-link">Chat with seller</a>
    <a href="#" class="card-link">Watch video (if applicable)</a>
 
      <%#= render "offerings/offering", offering: offering %>
   </div>
      </div>
    </div>
  </div>
</div>
 
<% end %>