
<h1>
Hello <%= current_user.first_name %> <%= current_user.last_name %>
</h1>

<h4>
Own offerings
</h4>

<div class="row row-cols-3 row-cols-md-3">

<% current_user.own_offerings.each do |offering| %>
  <div class="col mb-4">
<div class="card">
  <div class="card-body">
    <p class="card-text"> Status: <strong> <%= offering.status %> </strong>   | created <%= offering.created_at %> ago </p>
  <%= image_tag offering.image, class: "card-img-top", alt: "..." %> 
    <h4 class="card-title"><%= offering.title %></h4>
    <p class="card-text"> Description: <%= offering.description %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Min age: <%= offering.min_age %> | Max age: <%= offering.max_age %></li>
    <li class="list-group-item">Price: $<%= offering.price %></li>
    <li class="list-group-item">Seller: <%= offering.seller.first_name %> <%= offering.seller.last_name %></li>
    <li class="list-group-item">Pick up address: <%= offering.address %> </li>
  </ul>
    
  <div class="card-body">
    <a href="#" class="card-link">Chat with seller</a>
    <%= link_to 'details', offering_path(offering), class: "card-link" %>
    

      </div>
    </div>
  </div>

 
<% end %>
</div>