<p id="notice"><%= notice %></p>

<p>
  <strong>Offering:</strong>
  <%= @save.offering_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @save.user_id %>
</p>

<%= link_to 'Edit', edit_save_path(@save) %> |
<%= link_to 'Back', saves_path %>
